$underTextColor: #FF4E33;
$buttonColor: #E3AC00;
$headerTextColor: #fff;
$mainThemeColor: #21232E;
$mainFont: 'Source Sans Pro', sans-serif;
$logoFooterFont: 'Fresca', sans-serif;
$footerColor: #3B3F50;
$gradient: linear-gradient(45deg, #E1A902, #942E51);
$headerBgi: url(../img/m-h-night.jpg);
$blockTextColor: #D1D1D1 ;